<p>
    <strong><%= comment.commenter %></strong> <br />
     
  
    <strong>Komentarz:</strong>
    <%= comment.body %>
  </p>
  
  <p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>