<h1>Lista artykułów</h1>
 <%= link_to 'New article', new_article_path %>
<table>
  <thead>
  <tr>
    <th>Tytuł</th>
    <th>Edytuj</th>
     <th>Usuń</th>
  </tr>
  </thead>
 <tbody>
  <% @articles.each do |a| %>
    <tr>
      <td><%= link_to a.title, article_path(a) %></td>
      <td><%= link_to 'Edytuj', edit_article_path(a) %></td>
      <td><%= link_to 'Usuń', article_path(a),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>